<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/lib/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/lib/foundation-icon-fonts/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="/lib/datatable/media/css/jquery.dataTables.css">
</head>
<body>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title">Admin</h1>
        </section>

        <section class="right">
          <a href="/signout">Sign Out</a>
        </section>

      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          <li><a href="/admin/dashboard">Book Categories</a></li>
          <li><a href="/admin/dashboard/borrowerreservelist">Borrowers Reserved List</a></li>
          <li><a href="/admin/dashboard/borrowers">Borrowers</a></li>
          <li><a href="/admin/dashboard/borrowerrequest">Borrower Request</a></li>
        </ul>
      </aside>

      <section class="row" id="content-section">

      <!-- ************* MODAL ******************* -->

        <div id="addComputerBookModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <form method="POST" action="/addNewITBook">
            <div class="row">
              <div class="large-12 columns">
                <label>Title
                  <input type="text" name="title" placeholder="Title" required="required" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-4 columns">
                <label>ISBN
                  <input type="text" name="isbn" placeholder="ISBN" required="required" />
                </label>
              </div>
              <div class="large-4 columns">
                <label>Author
                  <input type="text" name="author" placeholder="Author" required="required" />
                </label>
              </div>
              <div class="large-4 columns">
                <label>Quantity
                  <input type="number" name="qty" placeholder="Quantity" required="required" />
                </label>
              </div>
            </div>
            <div class="row">
              <div class="large-12 columns">
                <label>
                  <input type="submit" class="button expand" onclick="window.location.reload()"value="Add Book" />
                </label>
              </div>
            </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <div id="delete-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
            <p id="delete-lead"></p>
            <p id="delete-test"></p>
            <form method="POST" action="/admin/dashboard/deletebook">
                <div class="row">
                    <div class="large-12 columns">
                        <label>
                            <input type="hidden" value="" id="deletebookid" name="bookid" />
                            <input type="submit" class="button small alert" value="Delete Book" />
                        </label>
                    </div>
                </div>
            </form>
            <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

      <div id="update-modal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <p id="update-lead"></p>
          <p id="update-test"></p>
          <form method="POST" action="/admin/dashboard/updatebook">
              <div class="row">
                  <div class="large-12 columns">
                      <label>Title
                          <input type="hidden" value="" id="updatebookid" name="bookid" />
                          <input type="text" id="updateTitle" name="title" value="" placeholder="Title" required="required" />
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="large-4 columns">
                      <label>ISBN
                          <input type="text" id="updateISBN" name="isbn" value="" placeholder="ISBN" required="required" />
                      </label>
                  </div>
                  <div class="large-4 columns">
                      <label>Author
                          <input type="text" id="updateAuthor" name="author" placeholder="Author" required="required" />
                      </label>
                  </div>
                  <div class="large-4 columns">
                      <label>Status
                          <select name="status">
                              <option value="available">Available</option>
                              <option value="obsolete">Obsolete</option>
                          </select>
                      </label>
                  </div>
                  <div class="large-4 columns">
                      <label>Quantity
                          <input type="number" id="updateQty" name="qty" value="" placeholder="Quantity" required="required" />
                      </label>
                  </div>
              </div>
              <div class="row">
                  <div class="large-12 columns">
                      <label>
                          <input type="submit" class="button expand" value="Update Book" />
                      </label>
                  </div>
              </div>
          </form>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
      </div>
        <!-- END MODAL -->

        <div id="printComputerBookModal" class="reveal-modal" data-reveal aria-labelledby="modalTitle" aria-hidden="true" role="dialog">
          <h2 id="modalTitle">PRINT Computer Book</h2>
          <p class="lead">test</p>
          <p>test</p>
          <a class="close-reveal-modal" aria-label="Close">&#215;</a>
        </div>

        <nav class="breadcrumbs" style="margin-top: 10px" role="menubar" aria-label="breadcrumbs">
          <li role="menuitem"><a href="/admin/dashboard">Category</a></li>
          <li role="menuitem" class="current"><a href="#">Computer Books</a></li>
        </nav>

        <br />

        <div class="panel" style="height: 73px">
          <dl class="sub-nav">
            <dt>Actions:</dt>
            <dd><a href="#" data-reveal-id="addComputerBookModal"><i class="fi-plus"> Add Book</i></a></dd>
            <dd><a href="#" data-reveal-id="printComputerBookModal"><i class="fi-print"> Print</i></a></dd>
          </dl>
        </div>

        <div>

        <table id="inventory_table" style="margin-top: 10px; width: 100%">
          <thead>
            <tr>
              <th style="text-align: center">Book</th>
              <th style="text-align: center">ISBN</th>
              <th style="text-align: center">Title</th>
              <th style="text-align: center">Author</th>
              <th style="text-align: center">Qty</th>
              <th style="text-align: center">Date Added</th>
              <th style="text-align: center">Status</th>
              <th style="text-align: center">Action</th>
            </tr>
          </thead>
          <tbody>
             <% bookData.forEach(function(data, i) {%>

              <tr data-tr="<%= data._id %>">
                <td style="text-align: center">
                  <p><img style="width: 50px; height: 50px" src="/assets/img/book_icon2.png" /></p>
                </td>
                <td style="text-align: center"><%= data.isbn %></td>
                <td style="text-align: center" class="<%= data._id %>"><%= data.title %></td>
                <td style="text-align: center"><%= data.author %></td>
                <td style="text-align: center"><span><%= data.qty %></span></td>
                <td style="text-align: center"><span><%= moment(data.added).format('llll') %></span></td>
                <td style="text-align: center"><span><%= data.status %></span></td>
                <td style="text-align: center">
                  <p style="padding-top: 28px">
                    <!--<button class=""  style="">-->
                      <i class="fi-trash button tiny delete-btn" data-reveal-id="delete-modal" id="<%= data._id %>" style="background-color: transparent; color: red; font-size: 24px"></i>
                    <!--</button>-->
                      <i class="fi-page-edit button tiny update-btn" data-reveal-id="update-modal" data-id="<%= data._id %>" style="background-color: transparent; color: limegreen; font-size: 24px"></i>
                  </p>
                </td>
               </tr>
            <% }); %>
          </tbody>
        </table>

        </div>


      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/foundation/js/foundation.js"></script>
    <script type="text/javascript" src="/lib/datatable/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/assets/js/datatable.js"></script>
    <script type="text/javascript" src="/assets/js/foundation.js"></script>

    <script type="text/javascript">
      $(document).ready(function () {
            var productId = "";
            var bookName = "";
            var host = window.location.origin;

            $(".delete-btn").click(function (e) {
                productId = $(this).attr("id");
                bookName = "";
                var tdLength = document.getElementsByTagName("td");

                for(var td = 0; td < tdLength.length; td++) {
                    if(tdLength[td].className == productId) {
                        bookName = tdLength[td].textContent;
                        break;
                    }
                }

                console.log(bookName);
                console.log(productId);
                $('#deletebookid').val(productId);
//                $("#delete-test").text(productId);
                $("#delete-lead").html("Are you sure you want to <i style=\"color: orangered\">"+ bookName +"</i> delete ?");
            });

//            var deleteBook = document.getElementById("deleteBook");
//            deleteBook.onclick = function (e) {
//                e.preventDefault();
//                $.post( host + "/admin/dashboard/deletebook", { product_id: productId, bookName: bookName } );
//            };

           $('i.update-btn').click(function (e) {
               var updateId = $(this).attr("data-id");
               var updateBookISBN = "", updateBookTitle = "", updateBookAuthor = "", updateBookQTY = "";
               console.log(updateId);
               var trLength = document.getElementsByTagName("tr");
               console.log(trLength);
// 5 = title , 3 = isbn, 7 = author, qty = 9
               for(var tr = 0; tr < trLength.length; tr++) {
                   if($(trLength[tr]).attr("data-tr") == updateId) {
//                       updateBookName = trLength[tr].textContent;
                       updateBookISBN = trLength[tr].childNodes[3].textContent;
                       updateBookTitle = trLength[tr].childNodes[5].textContent;
                       updateBookAuthor = trLength[tr].childNodes[7].textContent;
                       updateBookQTY = trLength[tr].childNodes[9].childNodes[0].textContent;
                       break;
                   }
               }

               $("#updateTitle").val(updateBookTitle);
               $("#updateISBN").val(updateBookISBN);
               $("#updateAuthor").val(updateBookAuthor);
               $("#updateQty").val(updateBookQTY);
               $("#updatebookid").val(updateId);

               $("#update-test").text(updateId);
               $("#update-lead").html("Update <i style=\"color: limegreen\">"+ updateBookTitle +"</i> ");
           });

      });
    </script>
</body>
</html>
