<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <link rel="stylesheet" type="text/css" href="/lib/foundation/css/foundation.css">
    <link rel="stylesheet" type="text/css" href="/lib/foundation-icon-fonts/foundation-icons.css">
    <link rel="stylesheet" type="text/css" href="/lib/datatable/media/css/jquery.dataTables.css">
</head>
<body>

  <div class="off-canvas-wrap" data-offcanvas>
    <div class="inner-wrap">
      <nav class="tab-bar">
        <section class="left-small">
          <a class="left-off-canvas-toggle menu-icon"><span></span></a>
        </section>

        <section class="middle tab-bar-section">
          <h1 class="title"><%= user ? user : "" %></h1>
        </section>

        <section class="right">
          <a href="/signout">Sign Out</a>
        </section>

      </nav>

      <aside class="left-off-canvas-menu">
        <ul class="off-canvas-list">
          <li><label>Menu</label></li>
          <li><a href="/">Book Categories</a></li>
          <li><a href="/dashboard/logs">Logs</a></li>
          <li><a href="/dashboard/reserved">Reserved Books</a></li>
          <li><a href="/dashboard/borrowed">Borrowed Books</a></li>
        </ul>
      </aside>

            <section class="row" id="content-section">

      <!-- ************* MODAL ******************* -->

        <!-- END MODAL -->

        <br />

        <table id="inventory_table" style="margin-top: 10px; width: 100%">
          <thead>
            <tr>
              <th style="text-align: center">Book</th>
              <th style="text-align: center">Request ID</th>
              <th style="text-align: center">Title</th>
              <th style="text-align: center">Author</th>
              <th style="text-align: center">Start Date</th>
              <th style="text-align: center">Dute Date</th>
              <th style="text-align: center">Status</th>
            </tr>
          </thead>
          <tbody>
             <% bookData.forEach(function(data, i) {%>

              <tr>
                <td style="text-align: center">
                  <p><img style="width: 50px; height: 50px" src="/assets/img/book_icon2.png" /></p>
                </td>
                <td style="text-align: center"><%= data._id %></td>
                <td style="text-align: center"><%= data.title %></td>
                <td style="text-align: center"><%= data.author %></td>
                <td style="text-align: center"><%= data.start_date ? moment(data.start_date).format('llll') : " --- " %></td>
                <td style="text-align: center"><%= data.due_date ? moment(data.due_date).format('llll') : " --- " %></td>
                <td style="text-align: center">
                  <p style="padding-top: 28px">
                      <i style="color: orange; font-size: 16px"> <%= data.status %></i>
                  </p>
                </td>
               </tr>
            <% }); %>
          </tbody>
        </table>

      </section>

      <a class="exit-off-canvas"></a>

    </div>
  </div>

    <script type="text/javascript" src="/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/lib/foundation/js/foundation.js"></script>
    <script type="text/javascript" src="/lib/datatable/media/js/jquery.dataTables.js"></script>
    <script type="text/javascript" src="/assets/js/datatable.js"></script>
    <script type="text/javascript" src="/assets/js/foundation.js"></script>

</body>
</html>
